[general]
# Unique identifier for the area
area_id = city-zone-suburb

# API authentication token (Keep this secure)
api_token = xxxxxxxxx-xxxxxxxxx-xxxxxxxx-xxxxxxxx

# Debug mode to prevent shutdown while testing (true/false)
debug_mode = false

[logging]
# Log Level (DEBUG/INFO/WARNING/ERROR/CRITICAL)
log_level = INFO
# Number of days to retain logs before deletion (Default: 30)
keep_days = 30

[scheduler]
# How many minutes ahead to check for scheduled Load Shedding (Default: 30)
check_ahead_min = 30