[general]
# Unique identifier for the area
area_id = capetown-5-kenilworth

# API authentication token (Keep this secure)
api_token = 0FE78085-E3804A26-86810414-34762745

[logging]
# Log Level (DEBUG/INFO/WARNING/ERROR/CRITICAL)
log_level=DEBUG
# Number of days to retain logs before deletion (Default: 30)
keep_days = 30

[scheduler]
# How many minutes ahead to check for scheduled Load Shedding (Default: 30)
check_ahead_min = 15